/*fonts*/


@import url("https://use.typekit.net/vht7jde.css");

/*reset*/
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*base styles*/

body {
    overflow-x: hidden;
}

body, html {
    width: 100%;
    height: 500vh;
}

/*test*/
h1 {
    color:teal;
}



/*fonts*/
@font-face {
    font-family: 'Playfair Display';
    src: url('Bilder/Fonts/Playfair_Display/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url('Bilder/Fonts/Playfair_Display/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}
h1 {
    margin-top: 10%;
}
h1,h2 {
    font-family:'Playfair Display';
    text-align: center;
    font-size: 2em;
  
}

h2 {
    font-size: 1.5em;
    font-weight: 100;
    margin-top: 20%;
}

h3 {
    font-family: 'Playfair Display';
    font-weight:100;
    color: #8b745b;
    font-size: 1.5em;
}

p {
    font-family: futura-pt, sans-serif;
    color: #2F3D47;
    font-size: 1.1em;
    
}

/*buttons*/

.btn-kaufen, .btn-kaufen-2 {
    display: inline-block;
    padding: 0% 4% 0% 4%;
    background-color: #02AEA8;
    color: #fff;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    font-family: futura-pt, sans-serif;
    line-height: 280%;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    overflow: hidden;
}

.btn-kaufen span, .btn-kaufen-2 span {
position: absolute;
display: block;
width: 0;
height: 0;
left: 50%;
top: 100%;
border-radius: 50%;
background: #017975;
transform: translate(-50%, -50%);
transition: width 0.5s, height 0.5s;
z-index: -1;
}


.btn-kaufen:hover span, .btn-kaufen-2:hover span {
width: 50em;
height: 50em;
}


.btn-probierpaket {
display: inline-block;
padding: 0% 4% 0% 4%;
border: 1px solid #B3A992;
color: #B3A992;
text-align: center;
transition-property: background-color, color;
transition-duration: 0.5s, 0.5s;
transition-timing-function: ease, ease;
transition-delay: 0s, 0s;
font-family: futura-pt, sans-serif;
line-height: 280%;
text-transform: uppercase;
position: relative;
overflow: hidden;
margin-bottom: 10px;
}


.btn-probierpaket:hover{
color: #fff;
}

.btn-probierpaket span{
position: absolute;
display: block;
width: 0;
height: 0;
left: 50%;
top: 100%;
background: #B3A992;
border-radius: 50%;
transform: translate(-50%, -50%);
transition: width 0.5s, height 0.5s;
z-index: -1;
}

.btn-probierpaket:hover span {
width: 50em;
height: 50em;
}

/*Button kaufen und probierpaket zentrieren*/

.btn-zentrieren {
    text-align: center;
}

/*Button Testimonial*/
.btn-testimonial {
    display: inline-block;
    padding: 0% 4% 0% 4%;
    background-color: #fff !important;
    height: 18%;
    color: #B3A992;
    border: 1px solid #B3A992;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    font-family: futura-pt, sans-serif;
    line-height: 280%;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    overflow: hidden;
    margin-top: 3.5%;
    
}

#button-left {
    position: relative;
    left: 35%;
    background: url(/RWD/Bilder/chevron-left-lightbrown-2.png) no-repeat;
    background-size: contain;
    background-position:center;
}

#button-right {
    position: relative;
    left: 45%;
    background: url(/RWD/Bilder/chevron-right-lightbrown-2.png) no-repeat;
    background-size: contain;
    background-position:center;
}

#button-left:hover {
    background: url(/RWD/Bilder/chevron-left-white.png) no-repeat;
    background-size: contain;
    background-position:center;
    background-color: #B3A992 !important;
}

#button-right:hover {
    background: url(/RWD/Bilder/chevron-right-white.png) no-repeat;
    background-size: contain;
    background-position:center;
    background-color: #B3A992 !important;
}



/*mobile styles*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/*header*/

.logo {
    width: 45px;
    position: absolute;
    top: 1%;
    left: 47%;
}

header p {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 10%;
    text-align: center;
}

.header-background {
    grid-column: 1/13;
    margin-top: 14%;
    margin-left: 2%;
    margin-right: 2%;
    background: url(Bilder/hund-meer.mp4);
    background-repeat: no-repeat;
    color: white;
    padding-top: 10%;
    position: relative;
    padding-bottom: 20%;
    background-size: cover;
    position: top;
    
}






.header-background img {
  width: 40%;
  position: absolute;
  justify-content: center;
  transform: translate(70%);
  top: 50%;
  animation: fadeInAndUp 1.5s;
}

@keyframes fadeInAndUp {
from {
    opacity: 0;
    transform: translate3d(70%, 70%, 0);
    
}
to{
    opacity: 1;
  
}
}



/*Linien
.line {
    border-left: 1px solid #B3A992;
    height: 10%;
    position: absolute;
    left: 50%;
    top: 28%;

}

.line2 {
    display: inline;
    border-left: 1px solid #B3A992;
    height: 4%;
    position: absolute;
    left: 50%;
    top: 62.5%;

}


.line3 {
    display: inline;
    border-left: 1px solid #B3A992;
    height: 4%;
    position: absolute;
    left: 50%;
    top: 100%;

}
*/


/*Hundefutter-Hintergrund*/




@keyframes fadeInUpHuge {
    from {
        opacity: 0;
        transform: translate3d(0, 125%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.ikra {
    position: fixed;
    display: block;
    z-index: -1;
    margin-top: 10%;
}

.ikra1 {
    width: 77px;
    height: 153px;
    background: url(Bilder/hudefutter-einzeln-unscharf-stark.png) no-repeat;
    background-size: contain;
    left: 0%;
    top: 50%;
    animation: fadeInUpHuge 5s;
    animation-duration: 2s;
    
}

.ikra2 {
    width: 29px;
    height: 30px;
    background: url(Bilder/hundefutter-einzeln-gold-unscharf.png) no-repeat;
    background-size: contain;
    left: 10%;
    top: 15%;
    animation: fadeInUpHuge 2s;
    animation-duration: 0.5s;
}

.ikra3 {
    width: 66px;
    height: 68px;
    background: url(Bilder/hundefutter-einzeln-gold-unscharf.png) no-repeat;
    background-size: contain;
    left: 80%;
    top: 30%;
    animation: fadeInUpHuge 3.5s;
    animation-duration: 3s;
}

.ikra4 {
    width: 80px;
    height: 68px;
    background: url(Bilder/hundefutter-einzeln-gold-unscharf.png) no-repeat;
    background-size: contain;
    left: 00%;
    top: 30%;
    animation: fadeInUpHuge 3.5s;
    animation-duration: 3s;
}



/*Einführung*/

.headerFadeIn, .firstTextFadeIn, .scrollHeadingAnimation {
    animation: fadeIn 2s;
}

#first-text {
    text-align: center;
    font-family: 'Playfair Display Regular';
    font-size: 0.9em;
    font-weight:lighter;
    margin-bottom: 14%;
    margin-left: 10%;
    margin-right: 10%;
}


@keyframes fadeIn {
from {
    opacity: 0;
}
to{
    opacity: 1;
  
}
}


/*Argumente*/

.main_list {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15%;
}

.main_list li {
    background-size: 100%;
    background-color: #8B745B;
    font-size: 0.9em;
    grid-column: span 12;
  
}

.main_list li {
    margin: 2%;
}
.main_list li a {
    font-family: futura-pt, sans-serif;;
    line-height: 5em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

.fadeInLeft {
    animation: fadeInLeft 1.5s;
    animation-duration: 1.5s;
}

.fadeInRight {
    animation: fadeInRight 1.5s;
    animation-duration: 1.5s;
}


@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}



/*Scrollsection*/

#scrollheading {
    text-align: center;
}

.scrollcontent h3 {
    font-family: 'Playfair Display';
    font-size: 45pt;
    color: #D6D6D6;
    font-weight: bold;
    margin-top: 30%;
    text-align: center;

}

.scrollcontent li:nth-child(4) {
    margin-bottom: 30%;
}


.img-1 {
    position: fixed;
    display: block;
    top: 50%;
    right: -2000px; 
    white-space: nowrap;
}

.img-2 {
    position: fixed;
    display: block;
    top: 50%;
    right: -2700px; 
    white-space: nowrap;
}

.img-3 {
    position: fixed;
    top: 55%;
    right: -3400px; 
    white-space: nowrap;
}

.img-4 {
    position: fixed;
    top: 55%;
    right: -4100px; 
    white-space: nowrap;
}


.scrollInTest{
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    position: absolute;
    left: 0;
    top: -50%;
    animation: scrollIn 20s;
}


@keyframes scrollIn {
    from {
        transform: translateY(-50%) translateX(100vw);
    }

    to {
        transform: none
    }
}

/*Kaufangebot*/
.buy {
    text-align: center;
}

.buy div {
    grid-column: 1/13;
}
.buy img{
    grid-column: 1/13;
    width: 100% !important;
    height: 300px;
    object-fit: cover;
    object-position: center;
}

.flex-container p {
    margin: 5%;
}

.preis-alt {
    text-decoration: line-through;
    font-size: 0.9em;

}

.preis-aktuell {
    font-weight: 900;
    font-size: 1.5em;
}

.div-button {
    text-align: center;
   margin-top: 5%;
}

/*Grafik-kreis*/

.gewicht {
    margin-bottom: 10%;
}

.gewicht p {
    color: #B3A992;
    font-family: 'PlayfairDisplay-Regular';
}

.buy ul {
    grid-column: 5/9;
    display: flex;
    justify-content: center;
    align-items:center;
    grid-auto-flow: column;
}

.buy li {
    margin: 0px 20px;

}


#kreis-grafik-groß {
    position: relative;
    text-align: center;
    border: 1px solid #B3A992;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#kreis-grafik-groß div {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #B3A992;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: 3px;
}

#kreis-grafik-klein {
    position: relative;
    width: 100%;
    text-align: center;
    border: 1px solid #B3A992;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

#kreis-grafik-klein div {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #B3A992;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 3px;
}

.aktiv {
    border: 1px solid #02AEA8 !important;
}

.aktiv div{
    border: 1px solid #02AEA8 !important;
}

.aktiv p {
    color: #02AEA8;
}


/*Fördert die Gesundheit*/

.gesundheit {
    margin-top: 10%;
    margin-bottom: 10%;

}
.gesundheit h3{
 grid-column: 1/13;
 text-align: center;
}

.gesundheit img {
    grid-column: 1/13;
    width: 80%;
    margin: 0 auto;
}
/*Siegel*/

.siegel img {
    width: 100px;
}


.siegel div:nth-child(1) {
    grid-column: 3/6;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10%;
}
.siegel div:nth-child(1) p{
    margin-top: 1%;
    margin-bottom: 5%;
}

.siegel div:nth-child(2) {
    text-align: center;
    font-size: 0.8em;
    grid-column: 7/10;
    margin-bottom: 10%;
}
.siegel div:nth-child(2) p{
    margin-top: 1%;
}

.siegel div:nth-child(3) {
    grid-column: 3/6;
    grid-row: 2;
    text-align: center;
    font-size: 0.8em;
}
.siegel div:nth-child(3) p{
    margin-top: 1%;
}

.siegel div:nth-child(4) {
    text-align: center;
    grid-row: 2;
    font-size: 0.8em;
    grid-column: 7/10;
}
.siegel div:nth-child(4) p{
    margin-top: 1%;
}

/*Testimonials*/

.testimonials {
    margin-top: 10%;
    margin-bottom: 10%;

}

.testimonials h3 {
    grid-column: 1/13;
    text-align: center;
}

.testimonials img {
    grid-column: 3/11;
    width: 100%;
    z-index: 3;
}

.quote {
    width: 30px !important;
}


.background {
    margin-top: -12%;
    padding-top: 18%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 3%;
    grid-column: 1/13;
    background-color: #8b745b;
}

.background div{
    border-radius: 50px 50px 50px 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #fff;
    margin-bottom: 5%;
}

.autor {
    margin-top: 5%;
    font-weight: 700;
}

.showpic {
    display: block;
}
.hidepic {
    display: none;
}

.showText {
    display: block;
}

.hideText {
    display: none;
}

/*Footer*/ 

footer {
    background: url(/RWD/Bilder/footer-background.png);
    background-repeat: no-repeat;
    background-position: center;
    height: 500px;
    padding: 10%;
   
}
.footerstyle ul {
    color: #B3A992;
    text-transform: uppercase;
    font-family: futura-pt, sans-serif;
    font-size: 0.9em;  
    text-align: center;
    display: flex;
    grid-column: 1/13;
    margin: 30em auto 0em auto;

  
}

.footerstyle ul li{
    margin: 0 30px;
}


/*small tablet*/
@media screen and (min-width: 620px) {

     /*test*/
     h1 {
         color: blue;
     }

    /*button*/ 

    .btn-probierpaket { 
        margin-bottom: 0;
    }



    /*Header*/

    .header-background img {
        width: 40%;
        left: 10%;
        top: 60%;
    }

    .header-background {
        margin-top: 10.5%;
        
    }

    .logo {
        width: 50px;
    }
   

    /*Argumente*/

    .main_list {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        margin-bottom: 10%;
    }
    
    .main_list li:nth-child(1) {
        grid-column: 1/5;
    }

    
    .main_list li:nth-child(2) {
        grid-column: 5/9;
    }
    .main_list li:nth-child(3) {
        grid-column: 9/13;
    }
    #fadeInFirst {
        background: url(Bilder/futter-loeffel-teller-seitlich-unscharf.png) 50% 250px no-repeat;
        background-size: 100%;
        background-color: #8B745B;
        transition: .3s;
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
    }

    #fadeInFirst:hover {
        background: url(Bilder/futter-loeffel-teller-seitlich-unscharf.png) 50% 100% no-repeat;
        background-size: 100%;
        background-color: #02AEA8;
    }
    #fadeIn{
        background: url(Bilder/dosendeckel-final.png) 50% 250px no-repeat;
        background-size: 100%;
        background-color: #8B745B;
        transition: .3s;
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
    }

    #fadeIn:hover {
        background: url(Bilder/dosendeckel-final.png) 50% 100% no-repeat;
        background-size: 100%;
        background-color: #02AEA8;
    }
 
    #fadeInThird {
        background: url(Bilder/loeffel-frei-final-2.png) 50% 250px no-repeat;
        background-size: 100%;
        background-color: #8B745B;
        transition: .3s;
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
    }

    #fadeInThird:hover {
        background: url(Bilder/loeffel-frei-final-2.png) 50% 100% no-repeat;
        background-size: 100%;
        background-color: #02AEA8;
    }
    
    
 

    .main_list li a {
        display: grid;
        font-family: futura-pt, sans-serif;;
        line-height: 15em;
        text-align: center;
        color: #fff;
        transition: .3s;
        text-transform: uppercase;
    }
    
    .main_list li:hover a {
        line-height: 10em;
    }


    /*Grafik gesindheit*/

    .gesundheit img {
        grid-column: 1/13;
        width: 70%;
        margin: 0 auto;
    }

    /*Siegel*/

   
    
    .siegel div:nth-child(1) {
        grid-column: 3/4;
        text-align: center;
        font-size: 0.8em;
        margin-bottom: 10%;
    }
    .siegel div:nth-child(1) p{
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    .siegel div:nth-child(2) {
        grid-column: 5/6;
        text-align: center;
        font-size: 0.8em;
    
        margin-bottom: 10%;
    }
    .siegel div:nth-child(2) p{
        margin-top: 1%;
    }
    
    .siegel div:nth-child(3) {
        grid-column: 7/8;
        grid-row: 1;
        text-align: center;
        font-size: 0.8em;
      
    }
    .siegel div:nth-child(3) p{
        margin-top: 1%;
    }
    
    .siegel div:nth-child(4) {
        grid-column: 9/10;

        text-align: center;
        grid-row: 1;
        font-size: 0.8em;
  
    }
    .siegel div:nth-child(4) p{
        margin-top: 1%;
    }

}

/*large tablets & laptop*/
@media screen and (min-width: 960px) {

    h1 {
        color:pink;
    }

    .header-background {
        margin-top: 8%;
        
    }

    .logo {
        width: 50px;
        left: 50%;
    }

    /*Hundefutter Hintergrund*/

    .ikra1 {
        width: 77px;
        height: 153px;
    
        left: 0%;
        top: 50%;
        animation: fadeInUpHuge 5s;
        animation-duration: 2s;
        
    }
    
    .ikra2 {
        width: 29px;
        height: 30px;
     
        left: 10%;
        top: 15%;
        animation: fadeInUpHuge 2s;
        animation-duration: 0.5s;
    }
    
    .ikra3 {
        width: 66px;
        height: 68px;
        left: 80%;
        top: 30%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
    }
    
    .ikra4 {
        width: 80px;
        height: 68px;
        left: 00%;
        top: 30%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
    }

        /*Button testimonial */

        .btn-testimonial {
            height: 15%;
            line-height: 280%;
            
        }
        
        .testimonials a:nth-child(2) {
            position: relative;
            left: 50%;
            background: url(/RWD/Bilder/chevron-left-lightbrown.png) no-repeat;
            background-size: contain;
            background-position:center;
        }
        
        .testimonials a:nth-child(3) {
            position: relative;
            left: 60%;
            background: url(/RWD/Bilder/chevron-right-lightbrown.png) no-repeat;
            background-size: contain;
            background-position:center;
        }


    /*Argumente*/
    .main_list {
        width: 98%;
        text-align: center;
        text-transform: uppercase;
        margin: 10% auto;


    }
    
    .main_list li:nth-child(1) {
        grid-column: 1/5;
    }
    .main_list li:nth-child(2) {
        grid-column: 5/9;
    }
    .main_list li:nth-child(3) {
        grid-column: 9/13;
    }
    
    .main_list li {
        background: url(Bilder/futter-loeffel-teller-seitlich-unscharf.png) 50% 250px no-repeat;
        background-size: 100%;
        background-color: #8B745B;
        transition: .3s;
        font-size: 0.9em;
    }
    
    .main_list li:hover {
        background: url(Bilder/futter-loeffel-teller-seitlich-unscharf.png) 50% 100% no-repeat;
        background-size: 100%;
        background-color: #02AEA8;
    }
    
    .main_list li {
        margin-left: 5%;
        margin-right: 5%;
    }
    .main_list li a {
        display: grid;
        font-family: futura-pt, sans-serif;;
        line-height: 15em;
        text-align: center;
        color: #fff;
        transition: .3s;
        text-transform: uppercase;
    }
    
    .main_list li:hover a {
        line-height: 10em;
    }

    /*Kaufangebot*/
    .buy {
        display: flex;
    }


    .buy img{
        grid-column: 1/4;
        width: 50% !important;
        height: 500px;
        object-fit: cover;
        object-position: center;
        display: flex;
        float: left;
        grid-row: 1;
    }
    .flex-container {
        height: 500px;
       padding-left: 5%;
    }


    .preis-alt {
        margin-top: 0%;
        margin-bottom: 0%;
    }    

    .div-button {
        padding-top: 5%;
    }
    
 
  


    /*Fördert die Gesundheit*/


.gesundheit h3{
 grid-column: 1/5;
 text-align: center;
 transform: translateY(30%);
 width: 100%;

}

.gesundheit img {
    grid-column: 5/13;
    width: 80%;
    margin: 0 auto;
}

    /*Testimonials*/

.testimonials {
    margin-top: 10%;
    margin-bottom: 10%;

}

.testimonials h3 {
    grid-column: 1/4;
    text-align: center;
    transform: translateY(50%);
}

.testimonials img {
    grid-column: 4/9;
    width: 90%;
    z-index: 3;
    grid-row: 1;
    transform: translateY(10%);
}
.background {
    margin-top: -12%;
    padding-top: 18%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 3%;
    grid-column: 7/13;
    grid-row: 1;
    transform: translateY(16%);
}

.background div{
   
    margin-left: 30%;
 

}


.btn-zentrieren {
    margin-top: 15%;
    margin-bottom: -10%;
}

/*Siegel*/

.siegel div:nth-child(1) {
    grid-column: 2/3;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10%;
}
.siegel div:nth-child(1) p{
    margin-top: 1%;
    margin-bottom: 5%;
}

.siegel div:nth-child(2) {
    grid-column: 5/6;
    text-align: center;
    font-size: 0.8em;

    margin-bottom: 10%;
}
.siegel div:nth-child(2) p{
    margin-top: 1%;
}

.siegel div:nth-child(3) {
    grid-column: 8/9;
    grid-row: 1;
    text-align: center;
    font-size: 0.8em;
  
}
.siegel div:nth-child(3) p{
    margin-top: 1%;
}

.siegel div:nth-child(4) {
    grid-column: 11/12;

    text-align: center;
    grid-row: 1;
    font-size: 0.8em;

}
.siegel div:nth-child(4) p{
    margin-top: 1%;
}



}

/*desktop styles*/
@media screen and (min-width: 1200px) {

    /*test*/ 

    h1 {
        color:red;
    }

    #wrapper {
        width: 80%;
        margin: 0px auto;
    }

    /*Header*/

    .header-background img {
        width: 30%;
        left: 19.5%;
        top: 65%;
    }

    header {
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .header-background {
        margin-top: 9%;
        
    }

    .logo {
        width: 50px;
        margin-top: 2%;
        left: 50%;
    }

    /*Fonts*/

    h1 {
        margin-top: 10%;
    }
    h1,h2 {
        font-family:'Playfair Display';
        text-align: center;
        font-size: 4em;
      
    }
    
    h2 {
        font-size: 2em;
        font-family: 'PlayfairDisplay-Regular';
        margin-top: 20%;
    }
    
    h3 {
        font-family: 'Playfair Display';
        font-weight:100;
        color: #8b745b;
        font-size: 1.8em;
    }

    /*Hundefutter Hintergrund*/

    .ikra1 {
        width: 60px;
        height: 153px;
        left: 1%;
        top: 0%;
        animation: fadeInUpHuge 5s;
        animation-duration: 2s;
        background: url(Bilder/hundefutter-einzeln-scharf.png) no-repeat;
        background-size: contain;
        
    }
    
    .ikra2 {
        width: 20px;
        height: 30px;
        background: url(Bilder/Hundefutter-unscharf2.png) no-repeat;
        background-size: contain;
        left: 10%;
        top: 0%;
        margin-top: 20%;

        animation: fadeInUpHuge 2s;
        animation-duration: 0.5s;
    }
    
    .ikra3 {
        width: 40px;
        height: 68px;
        left: 90%;
        top: 0%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        margin-top: 15%;

        background: url(Bilder/hundefutter-einzeln-unscharf.png) no-repeat;
        background-size: contain;
    }
    
    .ikra4 {
        width: 80px;
        height: 50px;
        left: 5%;
        top: 0%;
        margin-top: 30%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        background: url(Bilder/hundefutter-einzeln.hell.png) no-repeat;
        background-size: contain;
    }


    .ikra5 {
        width: 60px;
        height: 250px;
        left: 95%;
        top: 0%;
        margin-top: 35%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        background: url(Bilder/hundefutter-einzeln-scharf-gespiegelt.png) no-repeat;
        background-size: contain;
    }

    /*Siegel*/

    .siegel img {
        width: 125px;
    }

    .siegel p {
        font-size: 1.2em;
    }
   
    
    
}