/*fonts*/


@import url("https://use.typekit.net/vht7jde.css");

/*reset*/
body, p, a, ul, li {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/*base styles*/

body {
    overflow-x: hidden;
}

body, html {
    width: 100%;
    height: 500vh;
}




/*fonts*/
@font-face {
    font-family: 'Playfair Display';
    src: url('Bilder/Fonts/Playfair_Display/Playfair_Display/static/PlayfairDisplay-Medium.ttf');
}

@font-face {
    font-family: 'Playfair Display Regular';
    src: url('Bilder/Fonts/Playfair_Display/Playfair_Display/static/PlayfairDisplay-Regular.ttf');
}



/*headings*/

h1{
    font-family:'Playfair Display';
    text-align: center;
    font-size: 2.5em;
    margin-top: 10%;

}
  


h2 {
    font-family:'Playfair Display Regular';
    font-weight: 1;
    font-size: 1.8em; 
    text-align: center;
    margin-top: 0%;
}

h3 {
    font-family: 'Playfair Display';
    font-weight:100;
    color: #8b745b;
    font-size: 1.5em;
}

p {
    font-family: futura-pt, sans-serif;
    color: #2F3D47;
    font-size: 1.1em;
    
}

/*buttons*/

.btn-kaufen, .btn-kaufen-2 {
    display: inline-block;
    padding: 0% 4% 0% 4%;
    background-color: #02AEA8;
    color: #fff;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    font-family: futura-pt, sans-serif;
    line-height: 280%;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    overflow: hidden;
    
}

.btn-kaufen span, .btn-kaufen-2 span {
position: absolute;
display: block;
width: 0;
height: 0;
left: 50%;
top: 100%;
border-radius: 50%;
background: #017975;
transform: translate(-50%, -50%);
transition: width 0.5s, height 0.5s;
z-index: -1;
}


.btn-kaufen:hover span, .btn-kaufen-2:hover span {
width: 50em;
height: 50em;
}


.btn-probierpaket {
display: inline-block;
padding: 0% 4% 0% 4%;
border: 1px solid #B3A992;
color: #B3A992;
text-align: center;
transition-property: background-color, color;
transition-duration: 0.5s, 0.5s;
transition-timing-function: ease, ease;
transition-delay: 0s, 0s;
font-family: futura-pt, sans-serif;
line-height: 280%;
text-transform: uppercase;
position: relative;
overflow: hidden;
margin-bottom: 10px;
width: 335px;
}


.btn-probierpaket:hover{
color: #fff;
}

.btn-probierpaket span{
position: absolute;
display: block;
width: 0;
height: 0;
left: 50%;
top: 100%;
background: #B3A992;
border-radius: 50%;
transform: translate(-50%, -50%);
transition: width 0.5s, height 0.5s;
z-index: -1;
}

.btn-probierpaket:hover span {
width: 50em;
height: 50em;
}

/*Button kaufen und probierpaket zentrieren*/

.btn-zentrieren {
    text-align: center;
}

/*Button Testimonial*/
.btn-testimonial {
    display: inline-block;
    padding: 0% 4% 0% 4%;
    background-color: #fff !important;
    height: 18%;
    color: #B3A992;
    border: 1px solid #B3A992;
    text-align: center;
    transition-property: background-color, color;
    transition-duration: 0.5s, 0.5s;
    transition-timing-function: ease, ease;
    transition-delay: 0s, 0s;
    font-family: futura-pt, sans-serif;
    line-height: 280%;
    text-transform: uppercase;
    z-index: 3;
    position: relative;
    overflow: hidden;
    margin-top: 3.5%;
    
}

#button-left {
    position: relative;
    left: 35%;
    background: url(/RWD/Bilder/chevron-left-lightbrown-2.png) no-repeat;
    background-size: contain;
    background-position:center;
}

#button-right {
    position: relative;
    left: 45%;
    background: url(/RWD/Bilder/chevron-right-lightbrown-2.png) no-repeat;
    background-size: contain;
    background-position:center;
}

#button-left:hover {
    background: url(/RWD/Bilder/chevron-left-white.png) no-repeat;
    background-size: contain;
    background-position:center;
    background-color: #B3A992 !important;
}

#button-right:hover {
    background: url(/RWD/Bilder/chevron-right-white.png) no-repeat;
    background-size: contain;
    background-position:center;
    background-color: #B3A992 !important;
}



/*mobile styles*/

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
}

/*header*/

.caspian-logo {
    width: 20%;
}

.p1 {
    color: #B3A992;
    font-family: 'Playfair Display Regular';
    letter-spacing: 0.7pt;
    font-weight: lighter;
    font-size: 1.3em;
    text-align: center;
    margin-left: 1.1%;
    margin-right: 1.1%;
    opacity: 0.8;

}

.p2 {
    color: #fff;
    text-transform: uppercase;
    font-size: 0.9em;
    margin-bottom: 3%;
    margin-top: 3%;
    text-align: center;
}

.header-background {
    grid-column: 1/13;
    margin-top: 4%;
    margin-left: 2%;
    margin-right: 2%;
    height: 67%;
    background: url(https://github.com/MeikeMadel/RWD/raw/main/Bilder/hund-meer.mp4);
    background-repeat: no-repeat;
    color: white;
    padding-top: 5%;
    position: relative;
    background-size: cover;
    position: top;
    text-align: center;

    
}


.header-dose {
    width: 55%;
    transform: translate(0%);
    animation: fadeInAndUp 2s;
}

@keyframes fadeInAndUp {
from {
    opacity: 0;
    transform: translate3d(0%, 50%, 0);

    
}
to{
    opacity: 1;
  
}
}



/*Hundefutter-Hintergrund*/


.fadeUpSiegel {
    animation: fadeInUpHuge 1s;
    animation-duration: 1s;
}

@keyframes fadeInUpHuge {
    from {
        opacity: 0;
        transform: translate3d(0, 125%, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

.ikra {
    position: fixed;
    display: block;
    z-index: -1;
    margin-top: 10%;
    display: none;
}

.ikra1 {
    width: 77px;
    height: 153px;
    background: url(Bilder/hudefutter-einzeln-unscharf-stark.png) no-repeat;
    background-size: contain;
    left: 0%;
    top: 50%;
    animation: fadeInUpHuge 5s;
    animation-duration: 2s;
    
}

.ikra2 {
    width: 29px;
    height: 30px;
    background: url(Bilder/hundefutter-einzeln-gold-unscharf.png) no-repeat;
    background-size: contain;
    left: 10%;
    top: 15%;
    animation: fadeInUpHuge 2s;
    animation-duration: 0.5s;
}

.ikra3 {
    width: 66px;
    height: 68px;
    background: url(Bilder/hundefutter-einzeln-gold-unscharf.png) no-repeat;
    background-size: contain;
    left: 80%;
    top: 30%;
    animation: fadeInUpHuge 3.5s;
    animation-duration: 3s;
}

.ikra4 {
    width: 80px;
    height: 68px;
    background: url(Bilder/hundefutter-einzeln-gold-unscharf.png) no-repeat;
    background-size: contain;
    left: 00%;
    top: 30%;
    animation: fadeInUpHuge 3.5s;
    animation-duration: 3s;
}



/*Einführung*/

.headerFadeIn, .firstTextFadeIn, .scrollHeadingAnimation, .stoererFade {
    animation: fadeIn 3s;
}
#secondHeading {
    margin-left: 7%;
    margin-right: 7%;

}
#first-text {
    text-align: center;
    font-family: 'Playfair Display Regular';
    letter-spacing: 0.3pt;
    font-size: 0.9em;
    line-height: 2;
    font-weight:lighter;
    margin-bottom: 14%;
    margin-left: 10%;
    margin-right: 10%;
}


@keyframes fadeIn {
from {
    opacity: 0;
}
to{
    opacity: 1;
  
}
}


/*Argumente*/

.main_list {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 15%;
    

}

.main_list li {
    background-size: 100%;
    background-color: #8B745B;
    font-size: 0.9em;
    grid-column: span 12;
  
}

.main_list li {
    margin: 1.5% 5%;

}
.main_list li a {
    font-family: futura-pt, sans-serif;;
    line-height: 5em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}



.fadeInLeft {
    animation: fadeInLeft 1.5s;
    animation-duration: 1.5s;
}

.fadeInRight {
    animation: fadeInRight 1.5s;
    animation-duration: 1.5s;
}




@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translate3d(-100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translate3d(100%, 0, 0)
    }

    to {
        opacity: 1;
        transform: none
    }
}

/*Scrollsection alt*/

.zusatz, .zusatz5, .zusatz1 {
    display: none;
}

#scrollheading {
    text-align: center;
}

.horizontal-section {
    padding: 100px 0;
    
}

.sticky-wrapper {
    width: 100%;
    overflow: hidden;
    position: sticky;
    top: 100px;
    margin-top: -1450px;
}

.element {
    width: 500px;
    height: 400px;
    margin: 0 20px 0 0;

    flex-shrink: 0;
}
.horizontal-section li:nth-child(1) {
    margin-top: 40%;
}
.horizontal-section li:nth-child(2) {
    margin-top: 80%;
}
.horizontal-section li:nth-child(3) {
    margin-top: 80%;
}
.horizontal-section li:nth-child(4) {
    margin-top: 80%;
}
.horizontal-section h3 {
    font-family: 'Playfair Display';
    font-size: 40pt;
    color: #e4e3e3;
    font-weight: bold;
    text-align: center;
}

.element h3 {
    display: none;
}

.element-wrapper {
    position: relative;
    display: flex;
}

.lachs {
    margin-top: 20%;
    margin-left: 10%;
    width: 70%;
}

.kartoffel {
    margin-top: 10%;
    margin-left: 40%;
    width: 60%;
}

.karotte {
    margin-top: 5%;
    width: 60%;
}

.oel {
    margin-top: -10%;
    margin-left: -20%;
    width: 60%;
}




/*Kaufangebot*/
.buy {
    text-align: center;
}

.flex-container h3 {
    margin-top: -0.1%;
}

.flex-container p {
    margin-left: 2%;
    margin-right: 2%;

}
#stoerer {
    grid-column: 2/5;
    background: #8b745b;
    margin-top: 20%;
    color: white;
    width: 110px;
    height: 60px;
    -moz-border-radius: 350px / 200px;
    -webkit-border-radius: 350px / 200px;
    border-radius: 350px / 200px;
    transform: rotate(-10deg);
}

#stoerer p {
    margin-top: 15%;
    color: white;
    font-weight: lighter;
    font-size: 1.2em;
    letter-spacing: 0.8pt;
}

.buy div {
    grid-column: 1/13;
}
.buy img{
    grid-column: 1/13;
    width: 100% !important;
    height: 300px;
    object-fit: cover;
    object-position: center;
}




.preis-alt {
    text-decoration: line-through;
    font-size: 0.9em;
    margin-top: 5%;

}

.preis-aktuell {
    margin-bottom: 5%;
    font-weight: 900;
    font-size: 1.8em;
}

.div-button {
    text-align: center;
   margin-top: 5%;
}

/*Grafik-kreis*/

.gewicht {
    margin-bottom: 10%;
}

.gewicht p {
    color: #B3A992;
    font-family: 'PlayfairDisplay-Regular';
}

.buy ul {
    grid-column: 5/9;
    display: flex;
    justify-content: center;
    align-items:center;
    grid-auto-flow: column;
}

.buy li {
    margin: 0px 20px;

}


#kreis-grafik-groß {
    position: relative;
    text-align: center;
    border: 1px solid #B3A992;
    width: 4em;
    height: 4em;
    border-radius: 50%;
}

#kreis-grafik-groß div {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #B3A992;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    margin: 3px;
}

#kreis-grafik-klein {
    position: relative;
    width: 100%;
    text-align: center;
    border: 1px solid #B3A992;
    width: 3em;
    height: 3em;
    border-radius: 50%;
}

#kreis-grafik-klein div {
    display: inline-block;
    margin: 0 auto;
    border: 1px solid #B3A992;
    width: 2.5rem;
    height: 2.5rem;
    border-radius: 50%;
    margin: 3px;
}

.aktiv {
    border: 1px solid #02AEA8 !important;
}

.aktiv div{
    border: 1px solid #02AEA8 !important;
}

.aktiv p {
    color: #02AEA8;
}


/*Fördert die Gesundheit*/

.gesundheit {
    margin-top: 10%;
    margin-bottom: 10%;

}
.gesundheit h3{
 grid-column: 1/13;
 text-align: center;
}

.gesundheit img {
    grid-column: 1/13;
    width: 100%;
    margin: 0 auto;
}
/*Siegel*/

.siegel img {
    width: 70px;
}

.siegel div:nth-child(1) {
    grid-column: 2/3;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10%;
}
.siegel div:nth-child(1) p{
    margin-top: 1%;
    margin-bottom: 5%;
}

.siegel div:nth-child(2) {
    grid-column: 5/6;
    text-align: center;
    font-size: 0.8em;

    margin-bottom: 10%;
}
.siegel div:nth-child(2) p{
    margin-top: 1%;
}

.siegel div:nth-child(3) {
    grid-column: 8/9;
    grid-row: 1;
    text-align: center;
    font-size: 0.8em;
  
}
.siegel div:nth-child(3) p{
    margin-top: 1%;
}

.siegel div:nth-child(4) {
    grid-column: 11/12;

    text-align: center;
    grid-row: 1;
    font-size: 0.8em;

}
.siegel div:nth-child(4) p{
    margin-top: 1%;
}


/*Testimonials*/

.testimonials {
    margin-top: 10%;
    margin-bottom: 10%;

}

.testimonials h3 {
    grid-column: 1/13;
    text-align: center;
}

.testimonials img {
    grid-column: 3/11;
    width: 100%;
    z-index: 3;
}

.quote {
    width: 30px !important;
}


.background {
    margin-top: -12%;
    padding-top: 18%;
    padding-right: 8%;
    padding-left: 8%;
    padding-bottom: 3%;
    grid-column: 1/13;
    background-color: #8b745b;
}

.background div{
    border-radius: 50px 50px 50px 0;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 8%;
    padding-right: 8%;
    background-color: #fff;
    margin-bottom: 5%;
}

.autor {
    margin-top: 5%;
    font-weight: 700;
    font-family: 'Playfair-Display-Regular';
    font-size: 1em;
}

.showpic {
    display: block;
}
.hidepic {
    display: none;
}

.showText {
    display: block;
}

.hideText {
    display: none;
}

/*Footer*/ 

.sectionFooter {
    grid-column: 1/13;
}

.footerstyle {
    grid-column: 1/13;
    margin-top: 30%;
    position: relative;
    text-align: center;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0),
        rgba(0,0,0, 100)
      ),url(https://github.com/MeikeMadel/RWD/raw/main/Bilder/Waves.mp4);
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 8px 6px -0.5px rgb(255, 255, 255);
   
}

.footerpic {
    width: 50%;
    margin-top: -30%;
    
}

#footerDeckel{
    width: 47%;
    margin-top: -45%;
    margin-left: 10%;
    margin-right: 10%;
}

.deckelFadeIn {
    transform: translate(0%);
    animation: fadeInAndUp 3s;
}


.footerstyle ul {
    color: #B3A992;
    text-transform: uppercase;
    font-family: futura-pt, sans-serif;
    font-size: 0.9em;  
    text-align: center;
    display: flex;
    margin-top: 5em;
    margin-bottom: 4em;
    margin-left: 40%

  
}

.footerstyle ul li{
    margin: 0 30px;
}

.footerstyle a:hover {
    color: #018f8a;
    cursor: pointer;
    transition: ease-in-out 0.5s;
   
}

.footerstyle hr {
        width: 50%;
        height: 0.8px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
        background-color: #B3A992;
        border: 0 none;
        
}





/*small tablet*/
@media screen and (min-width: 620px) {
    

     /*test*/
     h1 {
         font-size: 2.8em;
     }

     

    
    /*Header*/

    .caspian-logo {
        width: 15%;
    }
    
    .header-background {
        padding-top: 0%;
        height: 67%;
    }

    .header-dose {
        width: 47%;
        margin-bottom: 0px;
    }

    #secondHeading {
        margin-top: -50px;
    }

 
    

    
   

    

.main_list {
    width: 100%;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 10%;
    

}

.main_list li {
    background-size: 100%;
    background-color: #8B745B;
    font-size: 0.9em;
  
}

.main_list li {
    margin: 2% 5%;
}
.main_list li a {
    font-family: futura-pt, sans-serif;;
    line-height: 5em;
    text-align: center;
    color: #fff;
    font-size: 1.2em;
    text-transform: uppercase;
}

    /*Scrollsection*/

    .zusatz5 {
        display: block;
    }

    .horizontal-section li {
        display: none;
    }
    .horizontal-section {
        margin-top: 10%;
    }


.sticky-wrapper {
    margin-top: 0px;
}

.element h3 {
    display: block;
}

.element {
    width: 500px;
    height: 700px;
    margin: 0 20px 0 0;
    flex-shrink: 0;
}
.horizontal-section li:nth-child(1) {
    margin-top: 40%;
}
.horizontal-section li:nth-child(2) {
    margin-top: 60%;
}
.horizontal-section li:nth-child(3) {
    margin-top: 60%;
}
.horizontal-section li:nth-child(4) {
    margin-top: 60%;
}
.horizontal-section h3 {
    font-family: 'Playfair Display';
    font-size: 40pt;
    color: #e4e3e3;
    font-weight: bold;
    text-align: center;
}

.element-wrapper {
    position: relative;
    display: flex;
}

.element h3 {
    font-size: 50pt;
}


.h3-lachs {
    margin-left: 30%;
}


.lachs {
    margin-top: 0%;
    margin-left: 20%;
    width: 100%;
}

.h3-kartoffel {
    margin-left: 40%;
}

.kartoffel {
    margin-top: 0%;
    margin-left: 40%;
    width: 90%;
}

.h3-karotte {
    margin-left: 60%;
}


.karotte {
    margin-left: 40%;
    margin-top: 0%;
    width: 90%;
}

.h3-oel {
    margin-left: 60%;
    margin-top: -10%;
}


.oel {
    margin-left: 40%;
    margin-top: 0%;
    width: 90%;
}

/*Scroll Landscape  */


.h3-none {
display: none;
}


.lachs-alt {
margin-top: 0%;
margin-left: 20%;
width: 80%;
}


.kartoffel-alt {
margin-top: 0%;
margin-left: 40%;
width: 70%;
}

.karotte-alt {
margin-left: 40%;
margin-top: 0%;
width: 70%;
}

.oel-alt {
margin-left: 40%;
margin-top: -5%;
width: 65%;
}


    

    /*Grafik Gesundheit*/

    .gesundheit img {
        grid-column: 1/13;
        width: 70%;
        margin: 0 auto;
    }

    /*Siegel*/

   
    
    .siegel div:nth-child(1) {
        grid-column: 3/4;
        text-align: center;
        font-size: 0.8em;
        margin-bottom: 10%;
        margin-left: 50px;
    }
    .siegel div:nth-child(1) p{
        margin-top: 1%;
        margin-bottom: 5%;
    }
    
    .siegel div:nth-child(2) {
        grid-column: 5/6;
        text-align: center;
        font-size: 0.8em;
        margin-left: 0px;
        margin-bottom: 10%;
    }
    .siegel div:nth-child(2) p{
        margin-top: 1%;
    }
    
    .siegel div:nth-child(3) {
        grid-column: 7/8;
        grid-row: 1;
        text-align: center;
        font-size: 0.8em;
        margin-right: 0px;
      
    }
    .siegel div:nth-child(3) p{
        margin-top: 1%;
    }
    
    .siegel div:nth-child(4) {
        grid-column: 9/10;

        text-align: center;
        grid-row: 1;
        font-size: 0.8em;
  
    }
    .siegel div:nth-child(4) p{
        margin-top: 1%;
    }

    /*Testimonials*/

    .btn-kaufen-2 {
        width: 400px;
    }
    

    .btn-probierpaket {
    margin-bottom: 10px;
    width: 400px;
    }


    /*Footer*/

    .footerstyle {
        grid-column: 1/13;
        margin-top: 30%;
        position: relative;
        text-align: center;
      
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0px 8px 6px -0.5px rgb(255, 255, 255);
        
       
    }
    
    .footerpic {
        width: 50%;
        margin-top: -35%;
        
    }
    
    #footerDeckel{
        width: 50%;
        margin-top: -45%;
    }
    
    .deckelFadeIn {
        transform: translate(0%);
        animation: fadeInAndUp 3s;
    }
    
    
    .footerstyle ul {
        margin-left: 30%;
    }
    
    
    .footerstyle hr {
            width: 50%;
            height: 0.8px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5em;
            background-color: #B3A992;
            border: 0 none;
            
    }
}
    

    

/*large tablets & laptop*/
@media screen and (min-width: 960px) {

    

    h1 {
        font-size: 4em;
    }

    .p1 {
        letter-spacing: 0.7pt;
        font-size: 2em;
        text-align: center;
        margin-left: 1.1%;
        margin-right: 1.1%;
        opacity: 0.8;
    
    }

    .p2 {
        color: #fff;
        text-transform: uppercase;
        font-size: 1.2em;
        margin-bottom: 0%;
        margin-top: 3%;
        text-align: center;
    }

    header p {
        font-size: 1em;
        margin-bottom: 5%;
        text-align: center;
    }

    .header-background {
        padding-top: 0%;
        height: 70%;
        margin-left: 4%;
        margin-right: 4%;
    }

    .header-dose{
        width: 40%;
    }

    .caspian-logo {
        width: 14%;
    }
    

    #secondHeading {
        margin-top: -50px;
    }

    #wrapper {
        width: 100%;
        margin: 0px auto;
    }

    /*button*/ 
    
    
    

    /*Hundefutter Hintergrund*/

    .ikra {
        margin-top: 10%;
        display: block;
    }

    .ikra1 {
        width: 60px;
        left: 1%;
        margin-top: 30%;
        
        animation: fadeInUpHuge 5s;
        animation-duration: 2s;
        background: url(Bilder/hundefutter-einzeln-scharf.png) no-repeat;
        background-size: contain;
        
    }
    
    .ikra2 {
        width: 20px;
        height: 30px;
        background: url(Bilder/Hundefutter-unscharf2.png) no-repeat;
        background-size: contain;
        left: 10%;
        top: 0%;
        margin-top: 20%;

        animation: fadeInUpHuge 2s;
        animation-duration: 0.5s;
    }
    
    .ikra3 {
        width: 40px;
        height: 68px;
        left: 95%;
        top: 0%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        margin-top: 15%;
        background: url(Bilder/hundefutter-einzeln-unscharf.png) no-repeat;
        background-size: contain;
    }
    
    .ikra4 {
        display: none;
    }



    .ikra5 {
        width: 60px;
        height: 250px;
        left: 95%;
        top: 0%;
        margin-top: 35%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        background: url(Bilder/hundefutter-einzeln-scharf-gespiegelt.png) no-repeat;
        background-size: contain;
    }

    .ikra6 {
        display: none;
    }



        /*Button testimonial */

        .btn-testimonial {
            height: 15%;
            line-height: 280%;
            
        }
        
        .testimonials a:nth-child(2) {
            position: relative;
            left: 50%;
            background: url(/RWD/Bilder/chevron-left-lightbrown.png) no-repeat;
            background-size: contain;
            background-position:center;
        }
        
        .testimonials a:nth-child(3) {
            position: relative;
            left: 60%;
            background: url(/RWD/Bilder/chevron-right-lightbrown.png) no-repeat;
            background-size: contain;
            background-position:center;
        }



    .btn-kaufen-2 {
        width: none;
        border: 1px solid #02AEA8;
    }
    
    
    .btn-probierpaket {
    margin-bottom: 0px;
    width: 300px;
    margin-right: 2%;
    }


    /*Argumente*/


    .main_list {
        width: 98%;
        text-align: center;
        text-transform: uppercase;
        margin: 10% auto;


    }
    
    .main_list li:nth-child(1) {
        grid-column: 1/5;
    }
    .main_list li:nth-child(2) {
        grid-column: 5/9;
    }
    .main_list li:nth-child(3) {
        grid-column: 9/13;
    }


    #fadeInFirst {
        background: url(Bilder/futter-loeffel-teller-seitlich-unscharf.png) 50% 250px no-repeat;
        background-size: 100%;
        background-color: #8B745B;
        transition: .3s;
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
    }

    #fadeInFirst:hover {
        background: url(Bilder/futter-loeffel-teller-seitlich-unscharf.png) 50% 100% no-repeat;
        background-size: 100%;
        background-color: #02AEA8;
    }
    #fadeIn{
        background: url(Bilder/dosendeckel-final.png) 50% 250px no-repeat;
        background-size: 100%;
        background-color: #8B745B;
        transition: .3s;
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
    }

    #fadeIn:hover {
        background: url(Bilder/dosendeckel-final.png) 50% 100% no-repeat;
        background-size: 100%;
        background-color: #02AEA8;
    }
 
    #fadeInThird {
        background: url(Bilder/loeffel-frei-final-2.png) 50% 250px no-repeat;
        background-size: 100%;
        background-color: #8B745B;
        transition: .3s;
        font-size: 0.9em;
        margin-left: 5%;
        margin-right: 5%;
    }

    #fadeInThird:hover {
        background: url(Bilder/loeffel-frei-final-2.png) 50% 100% no-repeat;
        background-size: 100%;
        background-color: #02AEA8;
    }
    
    
 

    .main_list li a {
        display: grid;
        font-family: futura-pt, sans-serif;;
        line-height: 15em;
        text-align: center;
        color: #fff;
        transition: .3s;
        text-transform: uppercase;
    }
    
    .main_list li:hover a {
        line-height: 10em;
    }

    /*Scrollsection*/
    .zusatz1, .zusatz5 {
        display: block;
    }


    /*Kaufangebot*/
    .buy {
        display: flex;
    }


    .buy img{
        grid-column: 1/4;
        width: 50% !important;
        height: 500px;
        object-fit: cover;
        object-position: center;
        display: flex;
        float: left;
        grid-row: 1;
    }
    .flex-container {
        height: 500px;
       padding-left: 0%;
       padding-right: 2%;
       margin-left: -5%;
    }


    .preis-alt {
        margin-top: 10%;
        margin-bottom: 0%;
    }    

    .div-button {
        padding-top: 5%;
    }

    #stoerer {
        margin-left: 2%;
        margin-top: 0%;
        width: 200px;
        height: 50px;
        -moz-border-radius: 350px / 200px;
        -webkit-border-radius: 350px / 200px;
        border-radius: 350px / 200px;
        transform: rotate(-10deg);
    }
    
    #stoerer p {
        margin-top: 11%;
        color: white;
        font-weight: lighter;
        font-size: 1.1em;
        letter-spacing: 0.5pt;
    }
    

 
  


    /*Fördert die Gesundheit*/


.gesundheit h3{
 grid-column: 1/5;
 text-align: center;
 transform: translateY(30%);
 width: 100%;

}

.gesundheit img {
    grid-column: 5/13;
    width: 80%;
    margin: 0 auto;
}

   /*Siegel*/

   .siegel div:nth-child(1) {
    margin-left: 0px;
}



    /*Testimonials*/

.testimonials {
    margin-top: 10%;
    margin-bottom: 10%;

}

.testimonials h3 {
    grid-column: 1/4;
    text-align: center;
    transform: translateY(50%);
    margin-right: 5%;
}

.testimonials img {
    grid-column: 4/9;
    width: 80%;
    z-index: 3;
    grid-row: 1;
    transform: translateY(25%);
}
.background {
    margin-top: -12%;
    padding-top: 18%;
    padding-right: 8%;
    padding-left: 0%;
    padding-bottom: 3%;
    grid-column: 7/13;
    grid-row: 1;
    transform: translateY(16%);
}

.background div{
    margin-left: 25%;
    margin-top: -10px;

}


/*Siegel*/

.siegel div:nth-child(1) {
    grid-column: 2/3;
    text-align: center;
    font-size: 0.8em;
    margin-bottom: 10%;
}
.siegel div:nth-child(1) p{
    margin-top: 1%;
    margin-bottom: 5%;
}

.siegel div:nth-child(2) {
    grid-column: 5/6;
    text-align: center;
    font-size: 0.8em;

    margin-bottom: 10%;
}
.siegel div:nth-child(2) p{
    margin-top: 1%;
}

.siegel div:nth-child(3) {
    grid-column: 8/9;
    grid-row: 1;
    text-align: center;
    font-size: 0.8em;
  
}
.siegel div:nth-child(3) p{
    margin-top: 1%;
}

.siegel div:nth-child(4) {
    grid-column: 11/12;

    text-align: center;
    grid-row: 1;
    font-size: 0.8em;

}
.siegel div:nth-child(4) p{
    margin-top: 1%;
}

/*Footer*/

.footerstyle {
    grid-column: 1/13;
    margin-top: 30%;
    position: relative;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: inset 0px 8px 6px -0.5px rgb(255, 255, 255);
    
   
}

.footerpic {
    width: 40%;
    margin-top: -25%;
    margin-left: 0%;
    
}

#footerDeckel{
    width: 40%;
    margin-top: -35%;
    margin-right: 20%;
    margin-left: 20%;
}

.deckelFadeIn {
    transform: translate(0%);
    animation: fadeInAndUp 3s;
}


.footerstyle ul {
    margin-left: 38%;
}


.footerstyle hr {
        width: 40%;
        height: 0.8px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 5em;
        background-color: #B3A992;
        border: 0 none;
        
}


}

/*desktop styles*/
@media screen and (min-width: 1200px) {


    #wrapper {
        width: 90%;
        margin: 0px auto;
    }

    /*Header*/

  
    .header-dose {
        width: 37%;
        left: 19.5%;
        top: 65%;
    }

    header {
        align-items: center;
        align-content: center;
        text-align: center;
        margin: 0 auto;
    }

    .p1 {
        letter-spacing: 0.7pt;
        font-size: 2.5em;
        text-align: center;
        margin-left: 1.1%;
        margin-right: 1.1%;
    
    }

    .p2 {
        font-size: 1.4em;
        margin-bottom: 3%;
        margin-top: 3%;
        text-align: center;
    }

    .header-background {
     
        margin-top: 5%;

        
    }

    .caspian-logo {
        width: 14%;
    }


    /*Fonts*/

    h1{
        font-family:'Playfair Display';
        text-align: center;
        font-size: 4.5em;
        margin-top: 10%;
      
    }
    
    h2 {
        text-align: center;
        font-size: 2em;
        font-family: 'PlayfairDisplay-Regular';
        
    }
    
    h3 {
        font-family: 'Playfair Display';
        font-weight:100;
        color: #8b745b;
        font-size: 1.8em;
    }

    /*Hundefutter Hintergrund*/

    .ikra1 {
        width: 60px;
        height: 153px;
        left: 1%;
        top: 0%;
        animation: fadeInUpHuge 5s;
        animation-duration: 2s;
        background: url(Bilder/hundefutter-einzeln-scharf.png) no-repeat;
        background-size: contain;
        
    }
    
    .ikra2 {
        width: 20px;
        height: 30px;
        background: url(Bilder/Hundefutter-unscharf2.png) no-repeat;
        background-size: contain;
        left: 10%;
        top: 0%;
        margin-top: 20%;

        animation: fadeInUpHuge 2s;
        animation-duration: 0.5s;
    }
    
    .ikra3 {
        width: 40px;
        height: 68px;
        left: 90%;
        top: 0%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        margin-top: 15%;

        background: url(Bilder/hundefutter-einzeln-unscharf.png) no-repeat;
        background-size: contain;
    }
    
    .ikra4 {
        display: block;
        width: 80px;
        height: 50px;
        left: 5%;
        top: 0%;
        margin-top: 20%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        background: url(Bilder/hundefutter-einzeln.hell.png) no-repeat;
        background-size: contain;
    }


    .ikra5 {
        width: 60px;
        height: 250px;
        left: 95%;
        top: 0%;
        margin-top: 35%;
        animation: fadeInUpHuge 3.5s;
        animation-duration: 3s;
        background: url(Bilder/hundefutter-einzeln-scharf-gespiegelt.png) no-repeat;
        background-size: contain;
    }
    
    .ikra6 {
        display: none;
    }


    /*Scrollsection*/

    .scrollFadeIn {
        animation: fadeInAndUp 4s;
        animation-delay: 0s;
    }

    .scrollFadeIn2 {
        transform: translate(0%);
        animation: fadeInAndUp 4s;
       

    }

    .scrollFadeIn3 {
        transform: translate(0%);
        animation: fadeInAndUp 4s;
   

    }
  
    .scrollFadeIn4 {
        transform: translate(0%);
        animation: fadeInAndUp 4s;


    }
  
  

@keyframes fadeInAndUp {
from {
    opacity: 0;
 

    
}
to{
    opacity: 1;
  
}
}
    

    /*Kaufangebot*/

    .gewicht {
        margin-bottom: 0%;
    }

    .buy img{
        grid-column: 1/4;
        width: 60% !important;
        height: 500px;
        object-fit: cover;
        object-position: center;
        display: flex;
        float: left;
        grid-row: 1;
    }


    .flex-container {
        height: 500px;
       padding-left: 5%;
       padding-right: 2%;
       margin-left: -5%;
    }


    .preis-alt {
        margin-top: 10%;
    }    


    #stoerer {
        margin-left: 5%;
        margin-top: 0%;
        width: 150px;
        height: 50px;
        -moz-border-radius: 500px / 270px;
        -webkit-border-radius: 500px / 270px;
        border-radius: 500px / 270px;
    }
    
    #stoerer p {
        margin-top: 12%;
    }
    

    /*Siegel*/

    .siegel img {
        width: 125px;
    }

    .siegel p {
        font-size: 1.2em;
    }

    /*Testimonials*/
    
    .btn-probierpaket {
    margin-right: 5%;
    }

    .btn-testimonial {
        padding: 0% 4% 0% 4%;
        height: 15%;
        position: relative;
        overflow: hidden;
        margin-top: 8%;
        
    }
    
    #button-left {
        left: 45%;
    }
    
    #button-right {
        left: 55%;
    }

  
    .background {
        margin-top: -50px;
    }
    

    /*Footer*/

    .footerstyle {
        grid-column: 1/13;
        margin-top: 30%;
        position: relative;
        text-align: center;
        background-repeat: no-repeat;
        background-size: cover;
        box-shadow: inset 0px 8px 6px -0.5px rgb(255, 255, 255);
        
       
    }
    
    .footerpic {
        width: 35%;
        margin-top: -25%;
        margin-left: 0%;
        
    }
    
    #footerDeckel{
        width: 35%;
        margin-top: -32%;
        margin-right: 20%;
        margin-left: 20%;
    }

    
    
    .footerstyle ul {
        font-size: 0.95em;
        margin-left: 40%;
    }


    
    
    .footerstyle hr {
            width: 30%;
            height: 0.8px;
            margin-left: auto;
            margin-right: auto;
            margin-bottom: 5em;
            background-color: #B3A992;
            border: 0 none;
            
    }
   

    
}